{% extends "baby/base.html" %}

{% block title %}Add a Feeding for {{ baby }}{% endblock %}

{% block meta %}<script src="/includes/js/functions.js" type="text/javascript"></script>{% endblock %}

{% block body %}
<form action="" method="post">
    <input type="number" step="0.1" min="0.1" name="amount" placeholder="in ounces" />
    <input type="submit" value="Add Feeding" />
</form>

<h2>Recent Feedings</h2>
<ul>
    {% for f in feedings %}<li>{{ f.when|date:"F d P" }} - {{ f.amount }} oz</li>{% endfor %}
</ul>
{% endblock %}
